:root {
    --text-color: #eeeeee;
    --border-radius: 10px;
    --bg-color: hsl(150, 10%, 5%);
    --dot-color: hsl(150, 20%, 30%);
    --dot-active-color: hsl(150, 30%, 50%);
    --dot-labeled-color: hsl(225, 20%, 40%);
    --category-button-active-color: var(--dot-color);
    --category-button-hover-color: var(--dot-active-color);
    --division-line-color: hsl(150, 20%, 20%);
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: 'Consolas', 'Inconsolata', 'Lucida Console', 'Roboto', 'Liberation Mono', monospace;
    margin: 0;
}

.navbar {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    padding: 4px;
    border-bottom: 1px solid var(--division-line-color);
}

.navbar > * {
    padding: 4px;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#images-nav {
    width: 80%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    margin-bottom: 16px;
    max-height: 128px;
    overflow-y: auto;
    overflow-x: visible;
    padding: 4px;
}

#images-nav .dot {
    position: relative;
}

#images-nav .dot abbr {
    width: 10px;
    height: 10px;
    background-color: var(--dot-color);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: .1s;
    display: block;
}

#images-nav .dot.active abbr {
    background-color: var(--dot-active-color) !important;
}

#images-nav .dot.labeled abbr {
    background-color: var(--dot-labeled-color);
}

#images-nav .dot:hover abbr {
    scale: 1.2;
    background-color: var(--dot-active-color);
}

#active-image-name {
    font-size: 1.1rem;
}

#main-image {
    max-width: min(700px, 90vw);
    border: 2px solid var(--text-color);
    border-radius: var(--border-radius);
    padding: 8px;
    margin: 8px 0 12px;
}

#categories {
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 16px;
}

.category-button {
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius);
    padding: 8px 16px;
    transition: .1s;
}

.category-button.active {
    background-color: var(--category-button-active-color);
}

.category-button:hover {
    cursor: pointer;
    background-color: var(--category-button-hover-color);
}